<div style="margin-left: 10px;">
    <h2>What is Art Gallery ?</h2>
    <p> An online gallery is a simple concept. It's a website where you can upload your digital photos to be stored, organized, and shared with others. Most people do not go through the trouble and expense of buying and building their own website. Most people find an image host and build their gallery on that platform.</p>
    <h2>Purpose and type</h2>
    <p>An online art gallery is a website that display artworks. Usually, the online gallery is run as a business, with the purpose of displaying the artwork being to promote it to potential buyers. Other variations include:</p>
    <ul>
        <li>An online art market for collectors also known as an online secondary market.</li>
        <li>A contemporary art gallery displaying art work from their current, future, or past exhibitions, most often to promote the exhibitions, rather than with a view to selling the work via the website .</li>
        <li>An artist hosting their own gallery, either on their own website or on other websites. This approach is usually adopted with a view to increasing the percentage of the sale price the artist themselves receive.
        </li>
        <li>There are a number of online galleries that represent many artists working in different media and genre. The artist either pays a monthly fee or agrees to a commission paid when the work is sold. These are usually non-exclusive and are therefore a risk free opportunity for the artist to sell their work worldwide. They can be found by using search terms such as "original art" or "online art gallery".</li>
    </ul>
    <h2>Viewing art online</h2>
    <p>Viewing art online is an improving experience.[citation needed] Ideally, art should appear exactly as it would if seen in the real world, but there are factors that limit the extent to which this is possible. Factors include:</p>
    <ul>
        <li>Whether or not natural lighting can be approximated
        </li>
        <li>The extent to which a viewer is able to see the art from various angles i.e. other than head-on</li>
        <li>The impact on art that uses layering or raised effects when it is not viewable as a three-dimensional object</li>
    </ul>
    <p>The impact on art that uses layering or raised effects when it is not viewable as a three-dimensional object</p>
</div>