<h1>Hi, User Add your arts to our gallery...</h1>
<p style="font-size: xx-large;"><a href="">ADD</a></p>
<h2>Your Arts:</h2>
<div style="float: left;">
    <p><img src="assets/gettyimages-181894581-2048x2048.jpg" width="300px" height="300px">
    <img src="assets/gettyimages-520787683-2048x2048.jpg" width="300px" height="300px">
    <img src="assets/gettyimages-865169666-2048x2048.jpg" width="300px" height="300px">
    <img src="assets/img_lights.jpg" width="300px" height="300px">
    <img src="assets/worms-eye-view-of-spiral-stained-glass-decors-through-the-161154.jpg" width="300px" height="300px"></p>
    </div>