.wrapper {
    overflow: hidden;
  }
  
  .sliding-background {
    background: url(https://unsplash.com/assets/api/api-photo-grid@2x-3b92db4cdfc938c6dde2291ca1c78ab7ace98ef916a8dd08c00a6b006c0b631b.jpg)
    repeat-x;
    height: 400px;
    width: 5000px;
    animation: slide 5s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px blue, 0 0 50px red, 0 0 60px blue, 0 0 70px blue;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px lightblue, 0 0 40px red, 0 0 50px lightcyan, 0 0 60px lightskyblue, 0 0 70px lightskyblue, 0 0 80px lightseagreen;
    }
  }